<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Test">
<parameter name="rutaImgCAL" value="./imagenes/calculadora.png"/>
<parameter name="rutaImgML" value="./imagenes/mercadolibre.png"/>
<parameter name="rutaImgTQA" value="./imagenes/toolsqa.png"/>
<parameter name="appPackageGoogle" value="com.android.chrome"/>
<parameter name="appActivityGoogle" value="com.google.android.apps.chrome.Main"/>
<parameter name="platformName" value="Android"/>
<parameter name="deviceName" value="9d4056a5"/> 
<parameter name="platformVersion" value="11"/>
<parameter name="noReset" value="true"/>  
<parameter name="autoGrantPermissions" value="true"/>  
    <classes>
      <class name="com.RunTestNG.RunMobileTNG"/>
      <class name="com.utilidades.MyScreenRecorder"/>
      <class name="com.PagesObjets.PageBuscarGoogle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
